div {
   font-family:'Times New Roman', Times, serif;
   background-color:darkorchid;
   color: white;
   font-size: 32px;
   padding: 5px;
   border: 5px solid black;
}

nav {
   background-color: darkorchid;
   padding: 5px;
   display: flex;
   justify-content: space-around;
   border: 5px solid black;
   justify-content: space-around;
}

img {
   width: 60px;
}

.items:hover {
    background-color: gray;
    opacity: 0.5;
}

a {
    width: 20%;
    text-align: center;
    text-decoration: none;
}

